.titolo{
  text-align: center;
  font-weight: bold;
  font-size: 40pt;
  margin-bottom:10px;
}
.sottotitolo{
  text-align: center;
  font-size: 20pt;
  font-style: italic;
}

.prof{text-align: center;
      font-size: 30pt;
}
.materia{
  font-size:20pt;
  text-align: center;
}
.link{
  font-size: 20pt;
  text-align: center;
}

.lista-prof{
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
}

.compiti{
  text-align: center;
  font-size: 30pt;
}

.crediti{
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
}
.giorno{
  font-weight: bold;
}
